<!-- <h1>this is from home component</h1>
<p>home works!</p>


<h2>Data Binding</h2>
<h2>========================</h2>
<h3>Interpolation</h3>
<h3>=============</h3>
<p>hellooo {{firstName}}</p>
<p><b>emp id:</b> {{emp.eid}}</p>
<p><b>salary:</b> {{emp.salary}}</p>

<h3>Property Binding</h3>
<h3>=================</h3>
<p [innerText]="firstName">hi wont be printed </p>
<p [innerText]="emp.eid"></p>
<button [disabled]="isAllowed">click here after 5s</button>
<br/>


<h3>Event binding</h3>
<h3>==============</h3>
<p>name: {{personName}}</p>
<button (click)="viewName()">click to view name</button>
<button (click)="hideName()">click to hide name</button>

<h3>Two way binding</h3>
<h3>================</h3>

<input type="text" [(ngModel)]="secondName"/>
<p> Name: {{secondName}}</p>


<h3>Pipes in angular</h3>
<h3>====================</h3>
<p>Name in uppercase: {{firstName | uppercase}}</p>
<p>Name in lowercase: {{firstName | lowercase}}</p>
<p>Salary: {{emp.salary}}</p>
<p>Salary: {{emp.salary | currency : 'INR'}}</p> -->


<div style="background-image: 
url('https://rapidcorpindia.com/content/uploads/2019/01/Deloitte_Interiors_02.jpg');
background-repeat: no-repeat; background-size: cover; height: auto; max-width: 100%;">
    <div style="min-height: 100vh; 
    text-shadow: 2px 2px #cccccc; 
    text-align: left;">
        <h1>DeloitteKart</h1>
        <a href="#">Start shopping...</a>
    </div>
</div>