<h1>Register</h1>
<p>Register with Reactive Form</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" autofocus>
        <div>
            <div *ngIf="registerForm.get('username')?.hasError('required')&& registerForm.get('username')?.touched ">
                Username is required.
            </div>
            <div *ngIf="registerForm.get('username')?.hasError('minlength') && registerForm.get('username')?.touched">
                Username must be between 4 and 8 characters.
            </div>
        </div>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email" autofocus>
        <div>
            <div *ngIf="registerForm.get('email')?.hasError('required')&& registerForm.get('email')?.touched ">
                email is required.
            </div>
            <div *ngIf="registerForm.get('email')?.hasError('minlength') && registerForm.get('email')?.touched">
                email must be between 4 and 8 characters.
            </div>
            <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
                Invalid  email address
            </div>
        </div>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" formControlName="age" autofocus>
        <div>
            <div *ngIf="registerForm.get('age')?.hasError('required')&& registerForm.get('age')?.touched ">
                Age is required.
            </div>
            
            <div *ngIf="registerForm.get('age')?.hasError('pattern') && registerForm.get('age')?.touched">
                Invalid age
            </div>
        </div>
    </div>
    <div>
        <label for="dob">DOB:</label>
        <input type="date" id="dob" formControlName="dob" placeholder="dd/mm/yyyy" autofocus>
        <div>
            <div *ngIf="registerForm.get('dob')?.hasError('required')&& registerForm.get('dob')?.touched ">
                dob is required.
            </div>
        </div>
    </div>
    <div>
        <label for="number">Mobile Number</label>
        <input type="text" id="number" formControlName="number" autofocus>
        <div>
            <div *ngIf="registerForm.get('number')?.hasError('required')&& registerForm.get('number')?.touched ">
             number is required for registration
            </div>
            <div *ngIf="registerForm.get('number')?.hasError('pattern')&& registerForm.get('number')?.touched ">
                invalid number
            </div>
            <div *ngIf="registerForm.get('number')?.hasError('minlength')&& registerForm.get('number')?.touched ">
                min length is 10
            </div>
        </div>
    </div>
    
    <label for="addresses">Addresses</label> <br/>
    <button type="button" (click)="addAddress()">Add Address</button>

    <div formArrayName="addresses">
        <div *ngFor="let address of addresses.controls; let i = index">
            <div [formGroupName]="i">
                <label>City:</label>
                <input type="text" formControlName="city">
                <div *ngIf="address.get('city')?.invalid && address.get('city')?.touched">
                    <span *ngIf="address.get('city')?.hasError('required')">City is required</span>
                </div>
                <label>PIN:</label>
                <input type="number" formControlName="pin">
                <div *ngIf="address.get('pin')?.invalid && address.get('pin')?.touched">
                    <span *ngIf="address.get('pin')?.hasError('required')">pin is required</span>
                </div>
                <button type="button" (click)="removeAddress(i)">Remove</button>
            </div>
        </div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div>
            <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                Password is required.
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Submit</button>
    <!-- <input type="submit" value="Register"/> -->
</form>

<!-- 
<h1>Register</h1>
<p>Register with Reactive Form</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" autofocus>
        <div>

        </div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div>

        </div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Submit</button>
</form>
 -->